*{
    margin: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This ensures the table is centered vertically */
}

.content {
    text-align: center;
}

table, td, th{
    border-collapse: collapse;
    border: 1px solid black;
    padding: 10px;
}